@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Index";
}

<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <h1>Menu_Content</h1>
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>

                            <a asp-action="Create" class="btn btn-primary"> <i class="fas fa-pencil-alt"></i>  Create</a>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                    }

                    @foreach (var reserv in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@reserv.Title</td>
                            <td>@reserv.Description</td>

                            <td>
                                <a asp-action="Detail" asp-route-id="@reserv.Id" class="btn btn-success">
                                    <i class=" fas fa-eye" style="color:white"></i>
                                </a>
                                <a asp-action="Update" asp-route-id="@reserv.Id" class="btn btn-warning">
                                    <i class="fas fa-edit" style="color:white"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@reserv.Id" class="btn btn-danger">
                                    <i class="far fa-trash-alt" style="color:white"></i>
                                </a>

                            </td>
                        </tr>
                        count++;
                    }


                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>


